@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@400;700;900&display=swap');


/* 
🟢 Teal	#23D3B6
🟣 Purple	#695ABC
🟣 Light Purple	#705FC5
🟠 Orange	#E76042
🟡 Yellow	#F7CB3C 
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: rgb(11, 167, 167);
    font-weight: 700;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

section {
    background-color: rgb(245, 245, 245);
    margin-bottom: -2px;
}



.container {
    padding: 50px 0;
    
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 32px;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.click:hover {
    transform: scale(1.1)
}

.click:active {
    transform: scale(0.9);
}


.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -6px;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white::after {
    background-color: #fff;
}

.link__hover-effect--black::after {
    background-color: #242424;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
    border-radius: 1.125px;
}

.header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 400ms;
    z-index: 2;
}

.modal--open .header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.mail__btn {
    position: fixed;
    bottom: 32px;
    right: 40px;
    width: 60px;
    height: 48px;
    font-size: 24px;
    border-radius: 6px;
    color: white;
    background-color: #695ABC;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3px;
    z-index: 70;
/*     box-shadow: 0 0 12px rgba(255, 255, 255, 0.236);
    outline: 2px solid rgba(255, 255, 255, 0.11); */
    border: none;
}


.dark-theme .title, 
.dark-theme .section__title, 
.dark-theme .section__sub-title, 
.dark-theme .nav__link--anchor, 
.dark-theme .fa-circle-half-stroke, 
.dark-theme .header__para 
{
    color: rgb(232, 232, 232);
}

.dark-theme section {
    background-color: #1b1e22;
}

.dark-theme .scroll__icon {
    border-color: rgb(232, 232, 232);
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black::after {
    background-color: rgb(232, 232, 232);
}

.dark-theme .mail__btn {
    box-shadow: 0 0 12px rgba(255, 255, 255, 0);
    outline: 2px solid rgba(255, 255, 255, 0);
    border: none;
}

#landing-page {
    min-height: 100vh;
}

#personal-logo {
    height: 72px;
    margin: 0 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
    z-index: 2;
    position: relative;
}

.nav__link--list {
    display: flex;
    gap: 24px;
    margin: 0 32px;
    align-items: center;
}

.nav__link--anchor {
    font-weight: 700;
    font-size: 16px;
    color: #242424;
}

.fa-circle-half-stroke {
    font-size: 24px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    /* box-shadow: 12px 16px 56px 0 #00000027; */
    /* z-index: 12; */
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
    z-index: 60;
    box-shadow: 12px 16px 56px 0 #00000027;
    visibility: visible;
}

.modal__half {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.modal--open .modal__about, 
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    background-color: #ffffff;
    transform: translateX(-110%);
    border-radius: 12px 0px 0px 12px;
}

.modal__contact {
    background-color: #272c32;
    color: white;
    position: relative;
    border-radius: 0px 12px 12px 0px;
    transform: translateX(110%);
}

.modal__half__content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;

}

.modal__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 4px;
}

.modal__subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal__para {
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 2;
}



.language__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 32px;
}

.language {
    width: 22%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language__img {
    width: 80%;
    max-width: 80px;
    transition: all 300ms ease;
}

.language:hover .language__img{
    opacity: 0.8;
    transform: scale(0.9);
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */

}

.language__name {
    position: absolute;
    bottom: -28px;
    transform: scale(0.75);
    opacity: 0;
    transition: all 300ms ease;
}

.language:hover .language__name {
    transform: scale(1);
    opacity: 0.5;
}



.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__form input, .modal__form textarea {
    width: 100%;
    background-color: #22272c;
    color: white;
    outline: none;
    padding: 10px;
    border: 2px solid #4a4a4a64;
    border-bottom: 4px solid #a3a3a3;
    border-radius: 6px;
    font-size: 16px;
    box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.163);
    transition: all 200ms ease;
}

.modal__form input:focus, .modal__form textarea:focus {
    border-bottom: 4px solid #E76042;
}

.input__title {
    font-weight: 700;
    margin-bottom: 10px;
}

.input__line {
    margin-bottom: 24px;
}

.input__area {
    margin-bottom: 24px;
    line-height: 1.75;
    height: 140px;
    min-height: 140px;
    max-height: 200px;
    resize: vertical;
}

.form__submit {
    background-color: #E76042;
    color: white;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    width: fit-content;
    transition: all 200ms ease;
    cursor: pointer;
}

.form__submit:hover {
    transform: scale(1.05);
}

.form__submit:active {
    transform: scale(0.95);
    background-color: #c74022;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;

    transition: all 500ms;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 40px;
    opacity: 0;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #1f3748;
    font-size: 20px;
    opacity: 0;
    padding: 48px;
    text-align: center;
    line-height: 1.75;
    z-index: -1;
}

.modal__overlay--visible {
    display: flex;
    opacity: 1;
    z-index: 1;
}

.spinner__grow {
    animation: grow__spinner 500ms infinite ease;
}

.fa-spinner {
    animation: rotate__spinner 1000ms infinite linear;
}

@keyframes rotate__spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes grow__spinner {
    0% {
        transform: scale(1.2);
    }
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.2);
    }
}



.exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    background-color: #00000044;
    font-size: 24px;
    z-index: 15;
    padding: 6px 4px;
    border-radius: 4px;
}

.exit:hover {
    background-color: #00000086;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.822);

}


.shape {
    position: fixed;
    opacity: 0.25;
    filter: blur(0.25px);
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}
.shape--1 {
    top: 15vh;
    left: 50vw;
}
.shape--2 {
    top: 15vh;
    left: 80vw;
}
.shape--3 {
    top: 50vh;
    left: 5vw;
}
.shape--4 {
    top: 50vh;
    left: 50vw;
}
.shape--5 {
    top: 50vh;
    left: 80vw;
}
.shape--6 {
    top: 80vh;
    left: 5vw;
}
.shape--7 {
    top: 80vh;
    left: 50vw;
}
.shape--8 {
    top: 80vh;
    left: 80vw;
}


.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 32px;
}

.header__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title {
    font-size: 80px;
    line-height: 1;
    letter-spacing: 0px;
    margin-left: -0.04em;  
}

.text--emphasis {
    color: rgb(9, 177, 177);
    font-weight: 700;
}

.header__para {
    font-size: 20px;
    max-width: 450px;
    line-height: 1.75;
}

.header__links {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.header__link {
    height: 42px;
    width: 56px;
    border-radius: 4px;
    background-color: rgb(9, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    background-color: #242424;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}




.section__title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 64px;
    z-index: 2;
    position: relative;
}


.project {
    margin-bottom: 128px;
}

.project:last-child {
    margin-bottom: 40px;
}



.project__wrapper {
    display: flex;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #447795;
    opacity: 0;
    transition: 600ms ease;
    z-index: 2;
}

.project__img {
    width: 100%;
    transition: all 600ms ease, transform 1600ms ease;
}

.project:hover .project__img {
    filter: blur(12px);
    opacity: 0.75;
    transform: scale(1.05);
}

.project:hover .project__wrapper:before {
    opacity: 0.25;
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__description {
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    /* left: 20%; */
    /* max-width: 550px; */
    z-index: 3;
    opacity: 0;
    transition: transform 450ms ease, opacity 300ms ease;
    padding: 0 10%;
}



.project__description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
    
    text-align: left;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 16px;
}

.project__description--title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.25;
}

.project__description--link {
    font-size: 20px;
    margin: 0 8px 0 0;
}


footer {
    background-color: #272c32;
    color: #fff;
    z-index: 2;
    position: relative;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 56px 32px;
    padding-bottom: 72px;
}

.footer__anchor {
    position: relative;
    margin-bottom: 48px;
}

.footer__logo {
    height: 80px;
    z-index: 5;
}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 42%;
    color: #fff;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor:hover .footer__logo--popper {
    right: -72px;
    opacity: 1;
}

.footer__social--list {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}



.footer__social--link {
    color: #fff;
    position: relative;
}

.footer__row p {
    color: rgba(255, 255, 255, 0.252);
}


@media (max-width: 768px) {

    .title {
        font-size: 80px;
    }

    .header__para {
        font-size: 20px;
    }

    .mail__btn {
        z-index: 5;

    }

    .modal {
        top: 120px;
        left: 0;
        height: auto;
        transform: none;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal__half {
        width: 100%;
        z-index: 10;
    }

    .modal__about, .modal__contact {
        border-radius: 0;
    }

    .modal__half__content {
        width: 85%;
        margin: 48px 0;
    }

    .modal__title {
        line-height: 1.25;
        font-size: 24px;
    }

    .modal__para {
        line-height: 1.75;
    }

    .project {
        margin-bottom: 120px;
    }

    .project:last-child {
    margin-bottom: 60px;
}

    .project__description--sub-title,
    .project__description--para,
    .project__description--link {
        margin-bottom: 10px;
    }

    .project__description--title {
        font-size: 20px;
    }

    .project__description--sub-title {
        font-size: 16px;
    }

    .project__description--para {
        font-size: 14px;
    }

    footer {
        z-index: 10;
    }

}

@media (max-width: 480px) {

    .nav__link:first-child {
        display: none;
    }

    .nav__link--list, #personal-logo {
        margin: 0 20px;
    }

    .title {
        font-size: 64px;
    }

    .header__para {
        font-size: 18px;
    }

    .mail__btn {
        right: 24px;
    }

    .modal {
        top: 110px;
    }

    .exit {
        right: 30px;
        top: 42px;
    }

    .modal__form {
        align-items: center;
    }

    .input__title {
        width: 100%;
    }

    .form__submit {
        padding: 16px 40px;
    }

    .project {
        margin-bottom: 80px;
    }

    .project:last-child {
        margin-bottom: 20px;
    }

    .project__description {
        padding: 0 4%;
    }

    .project__description--title {
        font-size: 16px;
        margin-bottom: 4px;
        text-align: center;
    }

    .project__description--sub-title {
        font-size: 13px;
        text-align: center;
        margin-bottom: 16px;
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    .project__description--link {
        margin: 0;
        padding: 4px 20px;
        border-radius: 6px;
        background-color: rgba(159, 241, 255, 0.3);
    }
}
